.icono {
  text-align: center;
}
.descrip {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  font-size: 20px;
}

#boton input[type="submit"] {
  display: block;
  justify-content: center;
  background-color: black;
  width: 40%;
  margin: 0 auto;
  color:white;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;

}
