.icono {
  text-align: center;
}
.descrip {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  font-size: 20px;
}

.boton {
  /*all:unset;*/
  cursor: pointer;
  display: block;
  justify-content: center;
  background-color: rgb(74, 57, 202);
  width: clamp(100px, 50%, 200px);
  margin: 0 auto; 
  color:white;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 10px 0px;
}
.boton-gris{
  background-color: rgb(95, 91, 91);
  margin-top: 5%;
}
.sup {
  display: flex;
  /*flex-direction: column; /* Cambiar a disposición de columna en pantallas pequeñas */
  align-items: center; /* Centrar horizontalmente en todas las pantallas */
  text-align: center; /* Centrar el texto */
  margin-top: clamp(50px, 10%, 50px); /* Utilizar una unidad relativa para el margen superior */
}

.icono-operaciones {
  flex: 0 0 auto; /* Tamaño fijo para la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.contenido {
  flex: 1; /* Expande el contenido para ocupar el espacio restante */
}

.divbotones {
  margin-top: clamp(50px, 10%, 50px);
  display: flex;
  justify-content: center;
}

.col1,
.col2 {
  flex: 1; /* Hacer que los botones ocupen el espacio disponible de manera equitativa */
  padding: 0 10px; /* Espacio entre los botones */
  max-width: 50%; /* Hacer que los botones ocupen como máximo el 50% del ancho */
}

@media (max-width: 500px) {
  /* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
  .sup {
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column; /* Cambiar a disposición de columna en pantallas pequeñas */
    text-align: center; /* Centrar el contenido en pantallas pequeñas */
  }

  .divbotones {
    flex-direction: column; /* Cambiar a disposición de columna en pantallas pequeñas */
  }

  .col1,
  .col2 {
    max-width: 100%; /* Los botones ocupan todo el ancho en pantallas pequeñas */
  }
}



